<div class="full-height">
  <div class="row">
    <div class="col-lg-12 col-sm-12 col-xs-12">
      <label>Current Location</label><br>
      <span>Latituted:{{positionPoint?.latitude}}</span><br>
      <span>longitude:{{positionPoint?.longitude}} </span>
    </div>
    
    <div *ngIf="userDetails?.userType === 'user'" class="col-lg-12 col-sm-12 col-xs-12 margin-top-20">
      <label>Near by Auto</label>
        <table class="table">
          <thead>
            <tr>
              <th>Driver Name</th>
              <th>Location</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let details of nearByAutoList">
              <td>{{details.name}}</td>
              <td>{{details?.location?.coordinates[0]+ ' ' +details?.location?.coordinates[1]}}</td>
              
            </tr>
          </tbody>
        </table>
      </div>
    <div *ngIf="userDetails?.userType=='user'" class="col-lg-12 col-sm-12 col-xs-12">
      <div class="col-sm-4">
        <label>Drop Location</label>
        <input type="text" [(ngModel)]="dropLoacation" placeholder="Drop Location">
      </div>
      <div class="col-sm-6 col-md-6">
        <button type="button" (click)="bookAuto()" class="btn btn-primary margin-right-5">Book</button>
        <button type="button" (click)="getBookingDetails()" class="btn btn-primary">Booking Details</button>
      </div>
    </div>
    <div *ngIf="userDetails?.userType=='driver' && bookingStatus != 'complete'" class="col-lg-12 col-sm-12 col-xs-12">
      <div *ngIf="userDetails.bookingStatus=='pending'">
        <button  *ngIf="bookingStatus != 'booked'" type="button" (click)="updateBookingStatus('booked')" class="btn btn-primary margin-right-5">Accept</button>
        <button  *ngIf="bookingStatus != 'booked'"  type="button" (click)="updateBookingStatus('cancel')" class="btn btn-primary">Reject</button>
      </div>
      <div *ngIf="userDetails.bookingStatus=='booked'|| bookingStatus == 'booked'" class="col-sm-6 col-md-6 margin-right-5">
        <button type="button" (click)="updateBookingStatus('complete')" class="btn btn-primary">Complete Ride</button>
      </div>
    </div>

    <div *ngIf="userDetails?.userType === 'user' && isBookingDetails" class="col-lg-12 col-sm-12 col-xs-12 margin-top-20">
      <table class="table">
        <thead>
          <tr>
            <th>Driver Name</th>
            <th>Pickup Location</th>
            <th>Drop Location</th>
            <th>Date</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let details of bookingDetails">
            <td>{{details.userDetails.name}}</td>
            <td>{{details?.pickupLocation?.latitude+ ' ' +details?.pickupLocation?.longitude}}</td>
            <td>{{details.dropLocation}}</td>
            <td>{{details.dateTime}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>