<div class="card">
  <div class=" card-body row form-group">
    
      <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12">
        <label>User Name</label>
        <input type="text" class="form-control border-radius" placeholder="User name or Email">
      </div>
      <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12">
        <label>Password</label>
        <input type="password" class="form-control border-radius" placeholder="User name or Email">
      </div>
    
  </div>
  <div class="row">
    <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12 text-center">
        <button type="submit" (click)="login()" class="btn btn-primary border-radius">Login</button>
    </div>
  </div>
</div>
