
<div class="full-height" id="mapholder" >
    <div>
     Latituted:{{positionPoint?.latitude}}
    </div>
    <div>
      longitude:{{positionPoint?.longitude}}
     </div>
     <div *ngIf="userDetails?.userType=='user'">
      <button type="button" (click)="bookAuto()" class="btn btn-primary">Book</button>
     </div>
     <div *ngIf="userDetails?.userType=='driver' && userDetails.bookingStatus=='pending'">
      <button type="button" (click)="accept()" class="btn btn-primary">Accept</button>
      <button type="button" (click)="reject()" class="btn btn-primary">Reject</button>
     </div>
     
</div>